html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  text-decoration: none;
  list-style: none;
}

#map {
  height: 80vh;
  width: 80vh;
  position: absolute;
  top: 70px;
  left: 220px;
}
