/*Green: #013d13
Yellow: #f4f124
Yellow2: #e2df1f*/
body {
  background-color: #013d13;
  text-align: center;
}

#map {
  height: 500px;
  width: 500px;
  margin-left: -250px;;
  position: absolute;
  top: 50px;
  border: 2px solid #fffb1e;
  border-radius: 3px;
  display: inline-block;
}

.button {
  font-family: 'Barlow Condensed', sans-serif;
}
