/*#93B7BE
#F1FFFA
#D5C7BC
#785964
#454545*/
body {
  background-color: #93B7BE;
  text-align: center;
}

#map {
  height: 500px;
  width: 500px;
  margin-left: -250px;;
  position: absolute;
  top: 50px;
  border: 2px solid #F1FFFA;
  border-radius: 3px;
  display: inline-block;
}

.button {
  font-family: 'Barlow Condensed', sans-serif;
}
