/*#93B7BE
#F1FFFA
#D5C7BC
#785964
#454545*/
body {
  background-color: #262e35;
  text-align: center;
}

#map {
  height: 90%;
  width: 54%;
  margin-left: -27%;
  position: absolute;
  top: 5%;
  border: 2px solid #F1FFFA;
  border-radius: 3px;
  display: inline-block;
}

.button {
  font-family: 'Barlow Condensed', sans-serif;
}
