.hidden {
  display: none;
}

.trip-summary {
  position: absolute;
  top: 0;
  left: -200px;
  width: 200px;
  background-color: white;
  border: 1px solid #262e35;
  border-radius: 2px;
  z-index: 1;
}

.trip-summary-origin {
  font-size: 18px;
  margin: 3px;
}

.trip-summary-origin:hover {
  background-color: #f5f5f5;
}

.trip-summary-origin-header {
  font-size: 18px;
  padding-top: 6px;
}

.trip-summary-origin-time {
  font-size: 16px;
  padding-bottom: 6px;
}

.trip-summary-directions {
  position: absolute;
  top: -1px;
  left: -250px;
  width: 250px;
  background-color: white;
  border: 1px solid #262e35;
  border-radius: 2px;
  z-index: 2;
}

.trip-summary-directions-steps {
  font-size: 14px;
  margin: 2px;
}
